In [10]:
import pandas as pd
import plotly.express as px

In [11]:
df = pd.read_csv('ViewingActivity.csv')

In [12]:
df.describe()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
count,9152,9152,9152,5218,9152,1155,9152,9152,9152,9152
unique,4,9152,2312,7,2821,11,15,2311,1309,1
top,Tyler,2022-02-11 00:09:11,00:00:04,Autoplayed: user action: None;,"BoJack Horseman: Season 1: Live Fast, Diane Ng...",HOOK,Microsoft Xbox One,00:00:05,Not latest view,US (United States)
freq,6129,1,226,3333,60,649,3403,197,6164,9152

In [13]:
profile_names = df['Profile Name'].value_counts()
profile_names = profile_names.reset_index()

In [14]:
profile_names = profile_names.rename(columns={'index':'Profile', 'Profile Name':'Number of Times Accessed'})
profile_names

  Profile  Number of Times Accessed
0   Tyler                      6129
1   Bobby                      2572
2   Donna                       396
3    Kids                        55

In [15]:
fig = px.pie(profile_names, values = 'Number of Times Accessed', names ='Profile', title='Number of Times Netflix was Accessed by User')
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [17]:
df.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Bobby,2022-02-11 00:09:11,00:22:34,NaN,Outlander: Season 1: The Way Out (Episode 3),NaN,Amazon FTVET31HDRAV12020 Smart TV,00:24:34,00:24:34,US (United States)
1,Bobby,2022-02-10 23:31:42,00:34:26,NaN,Outlander: Season 1: Castle Leoch (Episode 2),NaN,Amazon FTVET31HDRAV12020 Smart TV,00:58:08,00:58:08,US (United States)
2,Bobby,2022-02-10 23:23:01,00:01:18,NaN,Outlander: Season 1: Castle Leoch (Episode 2),NaN,Amazon FTVET31HDRAV12020 Smart TV,00:20:46,Not latest view,US (United States)
3,Bobby,2022-02-10 23:10:56,00:00:05,NaN,Outlander: Season 1: Castle Leoch (Episode 2),NaN,Amazon FTVET31HDRAV12020 Smart TV,00:19:28,Not latest view,US (United States)
4,Bobby,2022-02-09 03:11:52,00:18:53,Autoplayed: user action: User_Interaction;,Outlander: Season 1: Castle Leoch (Episode 2),NaN,Amazon FTVET31HDRAV12020 Smart TV,00:19:23,Not latest view,US (United States)

In [20]:
tyler_data = df[df['Profile Name'].str.contains('Tyler')]

In [27]:
tyler_data['Title']
#will need to categorize all shows together (i.e: all episodes of Bojack in on variable)

3023    BoJack Horseman: Season 2: Brand New Couch (Ep...
3024        BoJack Horseman: Season 1: Later (Episode 12)
3025    BoJack Horseman: Season 1: Downer Ending (Epis...
3026    BoJack Horseman: Season 1: One Trick Pony (Epi...
3027    BoJack Horseman: Season 1: Horse Majeure (Epis...
                              ...
9147    Fuller House: Season 2: Happy New Year Baby (E...
9148     Fuller House: Season 2: Nutcrackers (Episode 12)
9149    Fuller House: Season 2: Glazed & Confused (Epi...
9150    Fuller House: Season 2: Glazed & Confused (Epi...
9151    Fuller House: Season 2: A Tangled Web (Episode 8)
Name: Title, Length: 6129, dtype: object